*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.lof
*.log
*.lot
*.out
*.run.xml
*.synctex.gz
*.toc
*.acn
*.acr
*.alg
*.glg
*.glo
*.gls
*.glsdefs
*.ist
*.xdy
*.idx
*.ilg
*.ind
*.loa
*.nav
*.snm
*.vrb
*.slo
*.slg
*.sls

*.latexmk

_minted*
*.pyg

*.dpth
*.md5

*.nlo
*.nls
*.nlg

*.glstex

*.bak
*.tmp
*.swp
*.swo
*~

.vscode/
EE-dyplom.pdf
